<header class="header">
  <div class="logo_section"><a href="{{ url("<front>") }}">Employee Portal</a></div>
  {#-- Navbar --#}
    <nav class="navbar navbar-expand-xl">
    
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                {# Navbar-Nav #}
                {{ page.primary_menu }}
                {# / #}
            </div>
        </div>
    </nav>
    {#-- /Navbar --#}
</header>
{#---- /Header ----#}